* {
    box-sizing: border-box;
}

.box {
    outline: solid 1px red;
    border: 5px solid green;
}

p {
    font: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}

img {
    height: 100px;
}
